body {
    box-sizing: border-box;
    background-color: rgb(215, 219, 212);
    margin: 0 auto;
}



/* Buttons for the Navigation element */

body nav li {
    text-align: center;
    border: 1px solid rgb(80, 62, 35);
    border-radius: 4px;
    width: 150px;
    padding: 5px;
    margin: 0 10px;
    position: relative;
    right: 50px;
    background-color: rgb(60, 105, 32);
}

body nav li:hover {
    background-color: rgb(65, 110, 40);
    top: 1px;
}

/* This in the Main Content that houses all of the Current Sections */

main {
    margin-left: 10px;
    font-family: 'Arvo', serif;
}

main li a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

main li a:hover {
    color: white;
}

/* This is The Navigation Bar */
header {
    background-color: rgb(52, 80, 35);
    padding: 20px;

}

li {
    display: inline-block;
    width: 220px;
}

li a {
    color: silver;
}

.axe {
    position: relative;
    left: 665px;
}

/* This is the Viking Webpage header */

.header2 {
    text-align: center;
}

.header2 img {
    display: inline-block;
    padding: 120px 100px;
    width: 250px;
}

/* This Section is Devoted to Ragnar */

.ragnar {
    margin: 0 auto;
}

.ragnar img {
    height: 100%;
    width: 60%;

}

.R-history h3 {
    color: rgb(71, 146, 24);
    text-align: center;
    border: 1px solid rgb(80, 62, 35) ;
    width: 220px;
    position: relative;
    top: 20px;
}

.R-history ol {
    border: 1px solid rgb(80, 62, 35);
    width: 180px;
}

.R-history p {
    display: block;
    width: 50%;
}

.R-history strong {
    display: block;
    width: 50%;
}

.R-history li {
    display: block;
    line-height: 40px;
}

.R-history a {
    color:rgb(71, 146, 24)
}

/* This Section is Devoted to Ivar */

.ivar {
    margin: 0 auto;
}

.ivar img {
    height: 100%;
    width: 60%;
}

.I-history h3 {
    color: rgb(71, 146, 24);
    text-align: center;
    border: 1px solid rgb(80, 62, 35);
    border-bottom: 2px solid rgb(80, 62, 35);
    width: 220px;
    position: relative;
    top: 20px;
}

.I-history ol {
    border: 1px solid rgb(80, 62, 35);
    width: 180px;
    position: relative;
}

.I-history p {
    display: block;
    width: 50%;
}

.I-history strong {
    display: block;
    width: 50%;
}

.I-history li {
    display: block;
    line-height: 40px
}

.I-history a {
    color:rgb(71, 146, 24)
}

/* This Section is Devoted to Bjorn */

.bjorn {
    margin: 0 auto;
}

.bjorn img {
    height: 100%;
    width: 60%;
}

.B-history h3 {
    color: rgb(71, 146, 24);
    text-align: center;
    border: 1px solid rgb(80, 62, 35);
    border-bottom: 2px solid rgb(80, 62, 35);
    width: 220px;
    position: relative;
    top: 20px;
}

.B-history ol {
    border: 1px solid rgb(80, 62, 35);
    width: 180px;
    position: relative;
}

.B-history p {
    display: block;
    width: 50%;
}

.B-history strong {
    display: block;
    width: 50%;
}

.B-history li {
    display: block;
    line-height: 40px
}

.B-history a {
    color:rgb(71, 146, 24)
}



/* This is the Footer of the page */

footer form {
    text-align: center;
    border: 3px solid rgb(80, 62, 35);
    border-bottom: 4px solid rgb(80, 62, 35);
    padding: 30px;
    margin-top: 65px;
    margin-bottom: 1px;
}

footer label {
    font-size: 25px;
    font-weight: bold;
}

footer input {
    background-color:rgb(215, 219, 212);
    text-align: center;
}

footer input:hover {
    background-color: white;
}
